header{
    background-color: darkcyan;
    color: white;
    height: 100px;
}


.dissipateButton {
  width: 175px;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 40px;
}

.dissipateButton.image {
  background-image: url('../images/denisborisovi4.jpg');
  background-size: cover;
  background-position: center;
}

.transparent {
  opacity: 0;
}

.dissipateButton .hidden {
  visibility: hidden;
}



h3{
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}

.win{
    color: green;
    font-size: 18px;
}

.cat228 {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


main{
    margin-top: 50px;
    margin-bottom: 50px;
}

.logout{
    position: relative;
    text-align:center;
    color: white;
}

.boost_1{
    background: rgb(22,0,36);
    background: radial-gradient(circle, rgba(22,0,36,1) 0%, rgba(121,9,120,1) 88%, rgba(154,0,255,1) 100%);
    color: white;
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
}
.boost_2{
    background: rgb(158,255,0);
    background: radial-gradient(circle, rgba(158,255,0,1) 0%, rgba(138,254,54,1) 36%, rgba(0,255,89,1) 100%);
    font-weight: 600;
}
.logout a {
    color: rgb(209, 209, 209);
    font-size: larger;
}
#coins{
    font-size: 25px;
}
.logout a:hover{
    color: white;
    text-decoration: none;
}



.btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;
  margin: 50px;
  user-select: none;


  border-radius: 27px;

  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  position: relative;

  z-index: 2;
}

.btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;

  z-index: 1;
}