{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="{% static 'js/index.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Кликер баллов БРС</title>
  </head>
  <body>
      <header><h3> Привет, {{user.username}}! </h3>
      <div class="logout"><a href="/logout">LOGOUT</a></div>

      </header>
     <main>
         <div class="container">
             <strong>ДЕНЬГИ</strong>
             <div id='coins'>{{core.coins}}</div>
             <strong class="your_brs">Ваш балл БРС:</strong>
             <div id="brs_points">{{core.brs_points}}</div>
             {% if core.brs_points >= 100 %}
                        <span class="win">ВЫ ПОБЕДИЛИ, У ВАС 100 БАЛЛОВ В БРС</span>
                        <p><i>но вы можете продолжить накликивать дальше</i></p>

             {% endif %}
             <div class="liquid">
                 <a class="btn-liquid" onclick='call_click()'>
                <span class="inner">Нажми на меня</span>
                </a>
                 <img src="./static/images/crunch-cat.gif" alt="Cute kitty" class="cat228">
                 <button class="brs-button" onclick="call_brs_click()"></button>
             </div>

             <p>Невероятная мощь клика: <span id="click_power">{{core.power}}</span></p>
             <p>Стипендия: <span id="auto_click_power">{{ core.auto_click_power }}</span></p>
             <p>brs_power: <span id="brs_power">{{ core.brs_power }}</span></p>

         </div>
         <aside class="boosts" id="boosts">
             <h3>Бусты</h3>
             <div class="boosts-holder" id="boosts-holder">
                 {% for boost in boosts %}
                 <button class="boost_{{boost_type}}" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">
                     <p>Уровень: <span id="boost_level">{{boost.lvl}}</span></p>
                     {% if boost_brs_power != 0 %}
                        <p>+ в БРС <span id="boost_brs_power">{{boost.brs_power}}</span></p>
                     {% else %}
                        <p>+ <span id="boost_power">{{boost.power}}</span></p>
                     {% endif %}
                     <p><span id="boost_price">{{boost.price}}</span></p>
                 </button>
                 {% endfor %}
             </div>
         </aside>

    </main>
    
  </body>
</html>
